{% extends "staff/stabase.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/staff/modmi.css') }}">
    {#    bootstrap fileinput#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='/bootstrap-4.6.1-dist/css/bootstrap.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='/bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap-fileinput/css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-fileinput/themes/explorer-fas/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/staff/addMI.css') }}">


{% endblock %}
{% block script %}
    {#    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.5.1.js') }}"></script>#}
    <script type="text/javascript"
            src="{{ url_for('static', filename='/bootstrap-fileinput/js/plugins/piexif.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='/bootstrap-fileinput/js/plugins/sortable.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='/bootstrap-4.6.1-dist/js/bootstrap.bundle.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/staff/modmi.js') }}"></script>
{% endblock %}
{% block content %}
    <main class="page-content">
        <div class="container">
            <div class="page-header">
                <h1 class="page-header__title">Edit Musical Instrument</h1>
            </div>
            <div class="card add-product card--content-center">
                <div class="card__wrapper">
                    <div class="card__container">
                        <form class="add-product__form" action="/staff/modmi/{{ id }}" enctype="multipart/form-data"
                              method="post">
                            <div class="">

                                {#                                    <div class="add-product__slider" id="addProductSlider">#}
                                {#                                        <img class="left-image" src="{{ url_for('static',filename='img/staff/mis.png') }}" alt="">#}
                                {#                                    </div>#}

                                <div class="add-product__right">
                                    <div class="row row--md">
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">ID</label>
                                            <div class="input" id="id">#{{ id }}</div>
                                            <div style="display: none" id="pure_id">{{ id }}</div>
                                        </div>
                                        <label class="form-label">Musical Instrument Name (English Version)</label>
                                        <div class="input-group">
                                            {{ form.proname(class="input", required="required", type="text") }}
                                        </div>
                                        <label class="form-label">Musical Instrument Name (Chinese Version)</label>
                                        <div class="input-group">
                                            {{ form.proname2(class="input", required="required", type="text") }}
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Description (English Version)</label>
                                            {{ form.description(class="input des", required="") }}
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Description (Chinese Version)</label>
                                            {{ form.description2(class="input des", required="") }}
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">State</label>
                                            <div class="input-group input-group--append">
                                                {{ form.state(class="input js-input-select input--fluid") }}
                                                <span class="input-group__arrow">
                              <svg class="icon-icon-keyboard-down">
                                <use xlink:href="#icon-keyboard-down"></use>
                              </svg></span>
                                            </div>

                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Category</label>
                                            <div class="input-group input-group--append">
                                                {{ form.type1(class="input js-input-select input--fluid") }}
                                                <span class="input-group__arrow">
                              <svg class="icon-icon-keyboard-down">
                                <use xlink:href="#icon-keyboard-down"></use>
                              </svg></span>
                                            </div>
                                            <div class="input-group input-group--append">
                                                {{ form.type2(class="input js-input-select input--fluid") }}
                                                <span class="input-group__arrow">
                              <svg class="icon-icon-keyboard-down">
                                <use xlink:href="#icon-keyboard-down"></use>
                              </svg></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 form-group form-group--lg">
                                            <label class="form-label">Price</label>
                                            <div class="input-group input-group--prepend">
                                                <div class="input-group__prepend"><span
                                                        class="input-group__symbol">$</span>
                                                </div>
                                                {{ form.price(class="input", max="999999999", min="0", placeholder="", required="required", type="number", oninput="value=value.replace(/^(0+)|[^\d]+/g,'')") }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 form-group form-group--lg">
                                            <label class="form-label">Inventory</label>
                                            <div class="input-group input-group--prepend">
                                                {{ form.inventory(class="input", max="999999999", min="0", placeholder="", required="required", type="number", oninput="value=value.replace(/[^\d]+/g,'')") }}
                                            </div>
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Poster</label>
                                            <div class="input" style="display: none">
                                                {{ form.poster(class="input", id = "reposter") }}
                                            </div>
                                            <div>
                                                {% if poster != '' and poster is not none %}
                                                    <img src="../../static/img/product/poster/{{ poster }}" id="poster"
                                                         width="150" height="150">
                                                {% endif %}
                                                {% if poster == '' or poster is none %}
                                                    <img src="../../static/img/product/pic/upload.png" id="poster"
                                                         width="150" height="150">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" id="reset_pic" class="btn_change"
                                                    style="margin-left: 25px">reset
                                            </button>
                                        </div>
                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Images</label>
                                            {#                                        <div class="input" style="display: none" id="add_pic">#}
                                            {#                                            {{ form.image1(class="input", id="img1") }}#}
                                            {#                                            {{ form.image2(class="input", id="img2") }}#}
                                            {#                                            {{ form.image3(class="input", id="img3") }}#}
                                            {#                                            {{ form.image4(class="input", id="img4") }}#}
                                            {#                                            {{ form.image5(class="input", id="img5") }}#}
                                            {#                                            {{ form.image6(class="input", id="img6") }}#}
                                            {#                                            {{ form.image7(class="input", id="img7") }}#}
                                            {#                                            {{ form.image8(class="input", id="img8") }}#}
                                            {#                                            {{ form.image9(class="input", id="img9") }}#}
                                            {#                                            {{ form.image10(class="input", id="img10") }}#}
                                            {#                                        </div>#}
                                            {% for img in imgs %}
                                                <p class="imgs_info" disabled>{{ img.img_path }}</p>
                                            {% endfor %}
                                            <input id="input-id" name="input-id[]" type="file" class="file-loading"
                                                   multiple data-show-upload="false" data-show-caption="true"
                                                   data-msg-placeholder="Select {files} for upload...">
                                        </div>

                                        {#                                    <div id="put-img">#}
                                        {#                                    </div>#}

                                        <div class="col-12 form-group form-group--lg">
                                            <label class="form-label">Video</label>
                                            <div style="display: none">
                                                {{ form.video(class="input", id="video") }}
                                            </div>
                                            <div>
                                                <video src="../../static/video/{{ product.product_video }}"
                                                       controls="controls" id="show_video">
                                                </video>
                                            </div>
                                            <div>
                                                <button type="button" id="change_video" class="btn_change">change
                                                </button>
                                                <button type="button" id="reset_video" class="btn_change"
                                                        style="margin-left: 80px">reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            <input id="submitImagesForm" type="button" class="btn btn-outline-secondary"
                                                   value="Submit">
                                            <div style="display: none">
                                                {{ form.submit(class="button button--primary button--block", id="submit", type="submit", value="Confirm") }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>



{% endblock %}
